#particles-js {
    height: 50em;
}
#open{
    position: absolute;
    left:1em;
    top:1em;
    font-size: 35px;
    color: #1201f7;
}
span i:hover{
    cursor: pointer;
}
.menu{
    background-color: black;
    height:inherit;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}
.menu a{
    display: block;
    margin:2em 0 0 4em;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(167, 166, 166);
}
.closebtn{
    position: absolute;
    left:10em;
}
.menu a:hover{
    color: white;
}
span i:hover {
    cursor: pointer;
}
h1,h2 {
    background: -webkit-linear-gradient(#1201f7, hsl(216, 100%, 62%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 6px;
    animation: text 1.5s 1;
}
p,li{
    color: white;
}

/*---------------------------------------------------------about---------------------------------------------------------------- */

.about {
    text-transform: capitalize;
    position: absolute;
    left:13em;
    top:4em;
    width:52em;
}
.about h2{
    margin-top: 1.5em;
}
.about ul{
    display:inline-flex;
    margin-top: 1em;
}
.about ul p{
    font-weight: 200;
    font-size: 12px;
    text-transform: none;
}
.desktop{
    display: inline-flex;
}
.mobile{
    display: none;
}
.about li{
    list-style-type: none;
    text-align: center;
    background-color: black;
    box-shadow: 0 0 8px 2px #1201f7;
    margin-top: -15px;
    font-size: 13px;
    width:18em;
    border-radius: 15px;
    margin: 1em 3em 0 0;
    padding: 2em 0em 2em 0em;
}
.text{
    font-size: 13px;
    font-weight: 200;
    text-transform: none;
    text-align: center;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
}

/*---------------------------------------------------------skills---------------------------------------------------------------- */

.skills{
    position: absolute;
    left:11em;
    top:3em;
    width: 57em;   
    padding-bottom: 4em;
} 
.techskills{
    margin-top: 6em;
}
.techskills ul{
    display: inline-flex;
}
.techskills li{
    list-style-type: none;
    margin-right:5em;
    background-color: black;
    height:14em;
    width:14em;
    border-radius: 50%;
    box-shadow:0px 0px 10px 4px #2a1ed8;
    text-align:center;
}
.techskills p{
    padding-top:10px;
    font-size: 15px;
}

.softskills ul {
    display: inline-flex;
    margin-top: 3em;
}
.softskills li{
    list-style-type: none;
    margin-right: 4em;
    background-color: black;
    height:15em;
    width:15em;
    border-radius: 50%;
    box-shadow:0px 0px 10px 4px #2a1ed8;
    text-align:center;
    font-size: 11px;
}
.techskills img{
    margin-top: 3.5em;
    height:5em;
    width:auto;
}
.js img{
    height: 4em;
    margin-top: 4.5em;
}
.softskills img{
    margin-top: 3em;
    height: 5em;
    width:auto;
}
.softskills p{
    margin-top: 2em;
}

/*---------------------------------------------------------project---------------------------------------------------------------- */

.project{
    position: absolute;
    left:16em;
    top:3em;
    width:40em;
}
.projectlist h5{
    font-size:22px ;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
.projectlist i{
    font-size: 30px;
    color:white;
    margin: auto;
    padding:20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}
.projectlist li {
    margin-top:3em;
    display: inline-flex;
}
.heading{
    margin-top: auto;
    margin-bottom: auto;
}
.projectlist p{
    font-size: 13px;
    font-weight: 200;
    line-height: 20px;
    margin-top: -2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.projectLine{
    height:7em;
    width:1px;
    background-color: grey;
    margin-right: 15px;
    margin-top: 8px;
}

/*---------------------------------------------------------mobile---------------------------------------------------------------- */

@media screen and (max-width: 768px) {    
    #open{
        font-size: 28px;
    }
    h1,h2{
        font-size: 35px;
        letter-spacing: 2px;
    }
    /*-------------------------------------------about----------------------------------*/
    .about{
        left:3em;
        top:5em;
        width:17em;
    }
    .text{
        font-size: 12px;
        margin-top: 1em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }  
    .about h2{
        margin-top: 1.5em;
    }  
    .desktop{
        display: none;
    }
    .mobile{
        display: inline-block;
    }
    .mobile p{
        line-height: 2em;
    }
    .about ul{        
        display: inline-block;
        margin-left: -2em;
    }
    .about li{
        padding-bottom: 1em;
        width:20em;
    }

    /*-------------------------------------------skills----------------------------------*/

    .skills{
        left:1.5em;
        top:5em;
        width:20em;
    }
    .techskills{
        margin-top:3em;
        margin-left: -2em;
    }
    .techskills li{
        height:5em;
        width:5em;
        margin-right: 2em;
    }
    .techskills img{
        height:1.5em;
        width: auto;
        margin-top: 1.5em;
        margin-bottom: -4px;
    }
    .js img {
        height: 1.2em;
        margin: 1.5em 0 -2px 0;
    }
    .techskills p{
        font-size: 6px;
        padding-top: 0;
    }
    .softskills{
        margin-left: -2.7em;
    }
    .softskills li{
        height:5.5em;
        width:5.5em;
        margin-right: 2em;
        padding-top: 0;
        margin-top: -4em;
    }
    .softskills img{
        height:1.5em;
        width: auto;
        margin-top: 1.2em;
        margin-bottom: -4px;
    }
    .softskills p{
        font-size: 4px;
        padding-top: 0;
    }

    /*-------------------------------------------project----------------------------------*/

    .project{
        width:19em;
        left:2em;
        top:4em;
    }
    .projectlist{
        margin-left: -2.5em;
    }
    .projectlist i{
        font-size: 17px;
        padding:13px;
    }
    .projectlist h5{
        font-size: 15px;
    }
    .projectlist p{
        font-size: 8px;
    }
    .projectLine{
        height: 6em;
    }
}

@keyframes text{
    0%{
        letter-spacing: -20px;
    }
}