#open {
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 35px;
    color: #1201f7;
}

span i:hover {
    cursor: pointer;
}

.menu {
    background-color: black;
    height: inherit;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}

.menu a {
    display: block;
    margin: 2em 0 0 4em;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(167, 166, 166);
}

.closebtn {
    position: absolute;
    left: 10em;
}

.menu a:hover {
    color: white;
}

span i:hover {
    cursor: pointer;
}

h1,
h2 {
    background: -webkit-linear-gradient(#1201f7, hsl(216, 100%, 62%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    animation: text 1.5s 1;
}

p,
li {
    color: white;
}

/*---------------------------------------------------------about---------------------------------------------------------------- */

.ABOUT #particles-js {
    height: 100%;
}

.about {
    text-transform: capitalize;
    position: absolute;
    left: 15%;
    top: 12%;
    width: 70%;
}

.about h2 {
    margin-top: 1.5em;
}

.desktop {
    display: inline-flex;
}

.mobile {
    display: none;
}

.about ul {
    margin-top: 1em;
    text-align: center;
    padding-left: 0;
}

.about li {
    list-style-type: none;
    text-align: center;
    background-color: rgb(7, 7, 7);
    box-shadow: 0 0 8px 2px #1201f7;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 21em;
    border-radius: 15px;
    margin: .5em 3em 0 0;
    padding: 2em 0em 1em 0em;
}

.about ul p {
    font-weight: 200;
    font-size: 12px;
    line-height: 20px;
    text-transform: none;
}

.text {
    font-size: 13px;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: none;
    text-align: center;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
}

/*---------------------------------------------------------skills---------------------------------------------------------------- */

.SKILLS #particles-js {
    height: 80em;
}

.skills {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 75%;
    padding-bottom: 4em;
}

.techskills {
    margin-top: 6em;
    text-align: center;
}

.techskills ul {
    display: inline-flex;
}

.techskills li {
    list-style-type: none;
    margin-right: 5em;
    background-color: black;
    height: 14em;
    width: 14em;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 4px #2a1ed8;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.techskills p {
    padding-top: 10px;
    font-size: 15px;
}

.softskills {
    text-align: center;
}

.softskills ul {
    display: inline-flex;
    margin-top: 3em;
}

.softskills li {
    list-style-type: none;
    margin-right: 4em;
    background-color: black;
    height: 15em;
    width: 15em;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 4px #2a1ed8;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
}

.techskills img {
    margin-top: 3.5em;
    height: 5em;
    width: auto;
}

.js img {
    height: 4em;
    margin-top: 4.5em;
}

.softskills img {
    margin-top: 3em;
    height: 5em;
    width: auto;
}

.softskills p {
    margin-top: 2em;
}

/*---------------------------------------------------------project---------------------------------------------------------------- */

.PROJECT #particles-js {
    height: 65em;
}

.project {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 50%;
}

.projectlist h5 {
    font-size: 22px;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.projectlist i {
    font-size: 30px;
    color: white;
    margin: auto;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}

.projectlist li {
    margin-top: 3em;
    display: inline-flex;
}

.heading {
    margin-top: auto;
    margin-bottom: auto;
}

.projectlist p {
    font-size: 13px;
    font-weight: 200;
    line-height: 25px;
    margin-top: -2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projectLine {
    height: 8em;
    width: 1px;
    background-color: grey;
    margin-right: 15px;
    margin-top: 8px;
}

/*---------------------------------------------------------mobile---------------------------------------------------------------- */

@media screen and (max-width: 768px) {
    #open {
        font-size: 28px;
    }

    h1,
    h2 {
        font-size: 30px;
        letter-spacing: 2px;
    }

    /*-------------------------------------------about----------------------------------*/
    .ABOUT #particles-js {
        height: 55em;
    }

    .about {
        left: 13%;
        top: 13%;
        width: 74%;
    }

    .text {
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 1em;
    }

    .about h2 {
        margin-top: 1.5em;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: inline-block;
        text-align: center;
    }

    .mobile p {
        line-height: 2em;
    }

    .about ul {
        display: block;
        width: 100%;
        text-align: center;
    }

    .about li {
        padding-bottom: 1em;
        margin-right: 0;
        width: 20em;
    }

    /*-------------------------------------------skills----------------------------------*/
    .SKILLS #particles-js {
        height: 45em;
    }

    .skills {
        left: 6%;
        top: 15%;
        width: 90%;
    }

    .skills h1,
    h2 {
        font-size: 25px;
    }

    .techskills {
        margin-top: 3em;
    }

    .techskills ul {
        text-align: center;
        padding-left: 0em;
        margin-right: -2em;
    }

    .techskills li {
        height: 5em;
        width: 5em;
        margin-right: 2em;
    }

    .techskills img {
        height: 1.5em;
        width: auto;
        margin-top: 1.5em;
        margin-bottom: -4px;
    }

    .js img {
        height: 1.2em;
        margin: 1.5em 0 -2px 0;
    }

    .techskills p {
        font-size: 6px;
        padding-top: 0;
    }

    .softskills ul {
        text-align: center;
        padding-left: 0em;
    }

    .softskills li {
        height: 5.5em;
        width: 5.5em;
        margin-right: 2.3em;
        padding-top: 0;
        margin-top: -2em;
    }

    .softskills img {
        height: 1.5em;
        width: auto;
        margin-top: 1.2em;
        margin-bottom: -4px;
    }

    .softskills p {
        font-size: 5px;
        font-weight: 600;
        padding-top: 0;
    }

    /*-------------------------------------------project----------------------------------*/
    .PROJECT #particles-js {
        height: 55em;
    }

    .project {
        width: 85%;
        left: 10%;
        top: 15%;
    }

    .projectlist {
        margin-left: -2.5em;
    }

    .projectlist i {
        font-size: 17px;
        padding: 13px;
    }

    .projectlist h5 {
        font-size: 15px;
    }

    .projectlist p {
        font-size: 8px;
        line-height: 16px;
    }

    .projectLine {
        height: 6em;
    }
}

@keyframes text {
    0% {
        letter-spacing: -20px;
    }
}